//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	width: rem(140);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: rem(10);
	background-color: $mainColor;
	color: #fff;
	font-weight: 700;
	line-height: math.div(24, 14);
	text-transform: uppercase;
	transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: $mainBrown;
		}
	}
	&._fw {
		width: 100%;
	}
}
