%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-cross:before {
	content: "\e900";
}
._icon-facebook:before {
	content: "\e901";
}
._icon-index-logo:before {
	content: "\e902";
}
._icon-instagram:before {
	content: "\e903";
}
._icon-lock:before {
	content: "\e904";
}
._icon-login:before {
	content: "\e905";
}
._icon-logo:before {
	content: "\e906";
}
._icon-user:before {
	content: "\e907";
}
._icon-vk:before {
	content: "\e908";
}